body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;s
        }*/
        .container{
          
          border:2px solid white;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(243, 241, 241, 0);
          overflow: hidden;
          width: 200px;
          height: 600px;
          width: 500px;
          max-width: 100%;
          text-align: center;
          overflow: hidden;
          background-color: transparent;
        }
        
          
      
/*      section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background: url('images/girlbackground.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
             background-attachment: fixed; 
             animation:animateBg 5s linear infinite; 

        }*/
     /* @keyframes animateBg{
         100%{
             filter:hue-rotate(360deg);
         }
     } */
     h2{
        color:black;
     }
     h2:hover{
        color:black;
        text-shadow: 0 0 5px rgb(221, 181, 19),0 0 25px cornsilk ,0 0 50px cornsilk,0 0 100px cornsilk , 0 0 200px coral;
     }
        .input-box {
            position: relative;
            width: 400px;
            margin: 40px 20px;
            margin-bottom:20px;
            /* margin:auto; */
            border-bottom: 2px solid rgb(103, 98, 98);
        }

        .input-box label {
            position: absolute;
            top: 40px;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color:black;
            pointer-events: none;
            transition: .5s;
        }

        .input-box input:focus~label,
        .input-box input :valid~label {
            top: -5px;
        }

        .input-box input {
            width: 90%;
            height: 50px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: black;
            padding: 0 38px 0 5px;
        }

        .input-box .icon {
            position: absolute;
            right: 8px;
            color:black;
            font-size: 1.5em;
            line-height: 57px;
        }

        .remember-forget {
            margin: -15px 0 15px;
            margin-top:10px;
            font-size: .6em;
            color:black;
            display: flex;
            justify-content: space-between;

        }

        .remember-forget label input {
            margin-right: 30px;
        }

        .remember-forget a {
            color: black;
            text-decoration: none;
        }

        .remember-forget a:hover {
            text-decoration: underline;
        }

        button {
            width: 45%;
            height: 40px;
            background: rgb(234, 181, 68);
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1em;
            color: black;
            font-weight: 500;
            box-shadow:0 0 5px cornsilk;
        }
        button:hover{
        box-shadow: 0 0 5px cornsilk,0 0 25px cornsilk ,0 0 50px cornsilk,0 0 100px cornsilk , 0 0 200px coral;
        }

        .register-link {
            font-size: .9em;
            color: black;
            text-align: center;
            margin: 25px 0 10px;
        }

        .register-link p a {
            color: black;
            text-decoration: none;
            font-weight: 300;
            padding:25px;
            font-size:20px;
        }

        .register-link p a:hover {
            text-decoration: underline;
            color:blue;
        }
        
        .form-container {
            position: relative;
            /* width:300px; */
            /* height: 450px; */
            background: transparent;
            border:2px solid rgba(30, 29, 29, 0.5);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter:blur(5px);
        }
       
        .tabs {
            margin-top:20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: black;
            color:white;
            border-radius:10px 20px 10px 20px;
        }
       
        .tab {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size:30px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .tab:hover {
            color: #eadddd;
            text-decoration: underline;
            text-shadow: 0 0 5px cornsilk,0 0 25px cornsilk ,0 0 50px cornsilk,0 0 100px cornsilk , 0 0 200px coral;
        }

        .form-container {
            padding: 20px;
            font-size:25px;
            margin-top:10px;
        }
        
        .form {
            display: none;
            animation: fadeIn 0.5s;
        }

        .form.active {
            display: block;
        }
        .trigger{
            margin-right:180px;
            height:50px;
            width:150px;
            /*border-radius:150px;*/
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }